.gameThreeContainer{
    background-color: #FAFDFF;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}

.gameThreeInnerContainer{
    width: 70%;
    border-radius: 20px;
    border: 2px solid ;
    border-color:#0A0D171A ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin:50px auto;
    padding: 50px 20px;
    position: relative;
    height: 75%; 
    max-height: 75%;
}

/* Group 819 */

.gameThreeChatContainer{
    position: absolute;
width: 244.98px;
height: 190px;
left: 690.49px;
top: 98px;
}



.gameThreeChatText{
position: absolute;
left: 20.49%;
right: 18.7%;
top: 14.87%;
bottom: 64.76%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #004C85;
}


.gameNineBlueChatContainer{
    position: absolute;
width: 170.98px;
height: 120px;
left: 160.49px;
bottom: 10%;
}



.gameNineBlueChatText{
position: absolute;
left: 9.49%;
right: 18.7%;
top: 7.87%;
bottom: 64.76%;
width: 90%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

color: white;
}

.symbolNineImageContainer{
    position:absolute;
     left:60px;
      bottom:7%;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
}



/* Define the slide-in animation */
@keyframes slideIn {
    0% {
        transform: translateX(-250px); /* Start off-screen */
    }
    100% {
        transform: translateX(0); /* End at the original position */
    }
}

.gameNineTitleContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top:10px ;
  margin-bottom: 80px;
}



@media screen and (max-width: 960px) {
    .gameThreeInnerContainer{
        border: none;
        margin-top: 10px;
    }

    .gameThreeChatContainer{
        position: absolute;
    width: 210.98px;
    height: 190px;
    left: 90.49px;
    top: 220px;
    }
    .gameThreeChatText{
      
        font-size: 12px;
       
        }


.gameNineBlueChatContainer{
    position: absolute;
width: 190.98px;
height: 150px;
left: 100.49px;
bottom: -4%;
}




.symbolNineImageContainer{
    position:absolute;
     left:0px;
      bottom:-2%;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
}
}

@media screen and (max-width: 400px) {
  


.gameNineBlueChatContainer{
    position: absolute;
width: 190.98px;
height: 150px;
left: 50.49px;
bottom: -100px;
}

.symbolNineImageContainer{
    position:absolute;
     left:-50px;
      bottom:-60px;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
}

.gameNineTitleContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top:-30px ;
  margin-left: -70px;
}

}



@media screen and (max-width: 1600px) and (max-height: 750px) {

    .gameTwoInnerContainer{
        width: 70%;
        border-radius: 20px;
        border: 2px solid #0A0D171A;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;
        margin:30px auto;
        padding: 50px 20px;
        position: relative;
        height: 75%; 
        max-height: 75%;
    }
    .gameNineTitleContainer{
        display: flex;
        flex-direction: column;
        align-self: center;
        position: fixed;
        top: 160px;
        left: 35%;
    }

.symbolNineImageContainer{
    position:absolute;
     left:60px;
      bottom:20px;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
} 


.gameNineBlueChatContainer{
    position: absolute;
width: 170.98px;
height: 120px;
left: 180.49px;
bottom: 5%;
}


}