.gameThreeContainer{
    background-color: #FAFDFF;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}

.gameThreeInnerContainer{
    width: 70%;
    border-radius: 20px;
    border: 2px solid ;
    border-color:#0A0D171A ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin:50px auto;
    padding: 50px 20px;
    position: relative;
    height: 75%; 
    max-height: 75%;
}

/* Group 819 */

.gameThreeChatContainer{
    position: absolute;
width: 244.98px;
height: 190px;
left: 690.49px;
top: 98px;
}



.gameThreeChatText{
position: absolute;
left: 20.49%;
right: 18.7%;
top: 14.87%;
bottom: 64.76%;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #004C85;
}


.gameSixBlueChatContainer{
    position: absolute;
width: 170.98px;
height: 120px;
left: 180.49px;
bottom: 10%;
}



.gameSixBlueChatText{
position: absolute;
left: 9.49%;
right: 18.7%;
top: 7.87%;
bottom: 64.76%;
width: 90%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 20px;

color: white;
}

.symbolSixImageContainer{
    position:absolute;
     left:60px;
      bottom:7%;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
}



/* Define the slide-in animation */
@keyframes slideIn {
    0% {
        transform: translateX(-250px); /* Start off-screen */
    }
    100% {
        transform: translateX(0); /* End at the original position */
    }
}

.gameSixBlackChatContainer{
    position: absolute;
    right: 180px;
    bottom: 220px;
}

.gameSixTitleContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top:10px ;
  margin-bottom: 100px;
}



@media screen and (max-width: 960px) {
    .gameThreeInnerContainer{
        border: none;
        margin-top: 10px;
    }

    .gameThreeChatContainer{
        position: absolute;
    width: 210.98px;
    height: 190px;
    left: 90.49px;
    top: 220px;
    }
    .gameThreeChatText{
      
        font-size: 12px;
       
        }
 

.gameSixBlueChatContainer{
    position: absolute;
width: 190.98px;
height: 160px;
left: 90.49px;
bottom: 8%;
}



.gameSixBlueChatText{

font-size: 13px;

}
.symbolSixImageContainer{
    position:absolute;
     left:-20px;
      bottom:7%;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
}
.gameSixBlackChatContainer{
    position: absolute;
    right: 180px;
    bottom: 250px;
}

.gameSixTitleContainer{
   
  margin-bottom: 10px;
}

}


@media screen and (max-width: 560px) {
    .gameSixBlackChatContainer{
        position: absolute;
        right: 80px;
        bottom: 250px;
    }
     .gameSixTitleContainer{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top:20px ;
      margin-bottom: 0px;
      margin-left: -70px;
    }
}


@media screen and (max-width: 1600px) and (max-height: 750px) {

    .gameTwoInnerContainer{
        width: 70%;
        border-radius: 20px;
        border: 2px solid #0A0D171A;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;
        margin:30px auto;
        padding: 50px 20px;
        position: relative;
        height: 75%; 
        max-height: 75%;
    }
    .gameSixTitleContainer{
        display: flex;
        flex-direction: column;
        align-self: center;
        position: fixed;
        top: 160px;
        left: 42%;
    }

    /* .gameFiveBlueChatContainer{
    
        left: 150.49px;
        bottom: 40px;
    }

.symbolFiveImageContainer{
    position:absolute;
     left:60px;
      bottom:20px;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
}  */
.symbolSixImageContainer{
    position:absolute;
     left:60px;
      bottom:20px;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
} 
.gameSixBlackChatContainer{
    position: absolute;
    right: 180px;
    bottom: 200px;
}
.symbolSixImageContainer{
    position:absolute;
     left:60px;
      bottom:4%;
     z-index:100;
     animation: slideIn 1s ease-out forwards;
}
.gameSixBlueChatContainer{
    position: absolute;
width: 170.98px;
height: 120px;
left: 180.49px;
bottom: 7%;
}

}


@media screen and (max-width: 380px) {
    .gameSixBlackChatContainer{
        position: absolute;
        right: 180px;
        bottom: 100px;
    }

    .symbolSixImageContainer{
        position:absolute;
         left:-500px;
          bottom:-60px;
         z-index:100;
         animation: slideIn 1s ease-out forwards;
    }

    /* .gameSixBlueChatContainer{
     position: absolute;
    width: 160.98px;
    height: 100px;
    left: 180px;
    bottom: -40px;
    } */

    .gameSixTitleContainer{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top:20px ;
      margin-bottom: 0px;
      margin-left: -70px;
    }
}