
.homeContainer{
    background-color: #FAFDFF;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}

.homeInnerContainer{
    width: 70%;
    border-radius: 20px;
    border: 2px solid ;
    border-color:#0A0D171A ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin:50px auto;
    padding: 50px 20px;
    position: relative;
    height: 75%; 
    max-height: 75%;
}

.leaderboardContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.leaderBoardItemContainer{
    display: flex;
    width: 68vw;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background: #3A2F05;
    /* background: #292E37; */
    /* background: #271304; */
    /* background: #0A0A0A; */
    color: white;
}

.leaderBoardRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.leaderBoardLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
   width: 300px;
}

.certificationContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.certificationContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 100;
}
.certificateName{
    position: absolute;
    top: 140px;
    left: 38%;
    z-index: 1000;
    font-size: 20px;
    font-weight:  bold;
    font-family: "Open Sans";
    color: #004C85;
}





@media screen and (max-width: 1600px) and (max-height: 750px) {
    .homeInnerContainer{
        width: 70%;
        border-radius: 20px;
        border: 2px solid #0A0D171A;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;
        margin:30px auto;
        padding: 50px 20px;
        position: relative;
        height: 75%; 
        max-height: 75%;
    }
    .leaderBoardItemContainer{
        display: flex;
        width: 68vw;
        height: 50px;
        align-items: center;
        justify-content: space-around;
        /* background: #3A2F05; */
        /* background: #292E37; */
        /* background: #271304; */
        /* background: #0A0A0A; */
        color: white;
    }
    .certificateName{
        position: absolute;
        top:44%;
        left: 40%;
        font-size: 18px;
     
    }
}

@media screen and (max-width: 960px) {
    .homeInnerContainer{
        border: none;
        margin-top: 10px;
    }
    .leaderboardContainer{
        width: 90%;
        margin: auto;
    }
    .leaderBoardItemContainer{
        width: 90%;
        margin: auto;
        padding: 0px 5px;
        padding-right: 10px;
    }
    .leaderBoardLeft{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        /* background-color: red; */
       /* width: 200px; */
    }
    .certificateName{
        position: absolute;
        top: 47%;
        left: 30%;
        font-size: 15px;
     
    }
}

@media screen and (max-width: 460px) and (min-height: 950px){
  
    .certificateName{
        position: absolute;
        /* top: 65%; */
        /* left: 33%; */
        font-size: 15px;
     
    }
}

/* @media screen and (max-width: 420px) and (min-height: 850px){
  
    .certificateName{
        position: absolute;
        top: 275px;
        left: 33%;
        font-size: 15px;
     
    }
} */